html {
  font-size: 62.5%;
}

.title__h1 {
  text-align: center;
  margin: 5rem auto;
  font-size: 4rem;
}

.level {
  text-align: center;
  font-size: 2rem;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.game__number {
  margin: 1rem auto;
  width: 8rem;
  height: 7rem;
}

.game__checkanswer {
  width: max-content;
  margin: 1rem auto;
}

button {
  border: 1px solid #5541415b;
  padding: 1.6rem;
  border-radius: 2rem;
  transition: all 0.2s;
  cursor: pointer;
  color: rgb(36, 31, 31);
  font-weight: 300;
  text-transform: uppercase;
}

button:hover {
  background-color: #e6e6e6;
  transform: scale(1.03);
}

.result {
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
}

.hidden {
  display: none;
}
